---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import InsightsSlider from '../components/InsightsSlider.astro';
import ArticleGrid from '../components/ArticleGrid.astro';
import ConnectStrip from '../components/ConnectStrip.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
const posts = allPosts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
const featured = posts.find(p => p.data.featured);
const rest = posts.filter(p => p.id !== featured?.id);
const latestPostUrl = `/blog/${posts[0].id}`;
---

<Layout>
  <main id="main-content">
    <Hero latestPostUrl={latestPostUrl} />
    <InsightsSlider />
    <ArticleGrid posts={rest} featured={featured} />
    <ConnectStrip />
  </main>
</Layout>
